<div class="footer-container">
    <div class="footer-left">
        <div class="footer-left-paragraph">
            <!-- TODO: Replace with actual copyright later -->
            <span class="copyright-text">© 2024 FinanceApp</span>
            <span class="ownership-text">A Scott&JYP Inc. privately owned and operated website</span>
        </div>
    </div>
    <div class="footer-middle">
        <div class="footer-middle-container">
            <hr>
            <div class="footer-nav">
                <span class="footer-link">Terms of Use</span>
                <span class="footer-link">Privacy Statement</span>
                <span class="footer-link">Accessibility</span>
            </div>
        </div>
        <div class="footer-sponsors">
            <!-- TODO: Our future sponsors goes here -->
        </div>
    </div>
    <div class="footer-right">
        <!-- TODO: Our social media (facebook, instagram, etc) links go here -->
    </div>
</div>