.footer-container {
    display: flex;
    width: 100vw;
    font-size: 0.75em;
    min-height: 20vh;
    font-family: "Poppins-Regular";
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.footer-left, .footer-right {
    width: 25%;
}

.footer-middle {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left-paragraph {
    display: flex;
    flex-direction: column;
}

.footer-middle-container {
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-sponsors {
    min-height: 40%;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
}

.footer-link {
    cursor: pointer;
}

.footer-link:hover {
    color: var(--hypertext-color);
    text-decoration: underline;
}

/* TODO: Handle image sizes later when actual images are placed */
/* For large screens */
@media (min-width: 1920px) {
    .footer-container {
        font-size: 1em;
    }

    .footer-nav {
        margin-top: 1.5em;
    }
}