<div class="search-bar">
    <input
        type="text"
        [(ngModel)]="query"
        (keydown.enter)="onSearch()"
        placeholder="Search..."
    />
    <button nz-button  (click)="onSearch()">
        <i nz-icon nzType="search"></i>
    </button>
</div>

<div class = "search-result" *ngIf="searchResults.length > 0">
  <h2>Search Results</h2>
  <ul>
    <li *ngFor="let result of searchResults">
      <!-- Display stock data here -->
      <p>{{ result.name }} - {{ result.symbol }}</p>
      <!-- Add more details as needed -->
    </li>
  </ul>
</div>
