<div class="searchresults">
  <div class="search-bar">
    <input 
      placeholder="Search for stock"
      nz-input
      [(ngModel)]="query"
      (ngModelChange)="onInputChange($event)"
      [nzAutocomplete]="auto"
    />
    
    <button nz-button (click)="onSearch()">
      <i nz-icon nzType="plus"></i>
    </button>

    <nz-autocomplete #auto>
      <nz-auto-option *ngFor="let option of filteredOptions" [nzValue]="option.name">
        {{ option.name }}
      </nz-auto-option>
    </nz-autocomplete>

  </div>
</div>


