
<div class="search-container">

  <div *ngIf="showMessage" class="error-message">{{ errorMessage }}</div>

  <form>

    <mat-form-field appearance="outline" class="mat-form">

      <input type="text"
             placeholder="Search for a stock"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let stock of filteredOptions | async" [value]="stock" (onSelectionChange)="onOptionSelected($event, stock)">{{stock}}</mat-option>
      </mat-autocomplete>
      
    </mat-form-field>

    <button class="search-button" (click)="onSearch()">
      <i class="fas fa-plus"></i>
    </button>


  </form>
  
</div>