<nav class="navbar">
  <div class="left">
    <div class="logo" routerLink="/user-home">
      <!-- TODO: Replace with actual logo later -->
      <span class="temp-logo">FA</span>

      <span class="header-year">
          {{currentYear}}
      </span>
    </div>
    <div class="menu">
        <div class="drop-down">
            <button class="menu-button">
                <span class="menu-text">Analyze</span>
            </button>
        </div>
        <div class="drop-down">
            <button class="menu-button">
                <span class="menu-text">Manage</span>
            </button>
        </div>
    </div>
  </div>
  <div class="live-clock" (click)="showAccountOptions()">
    <span>{{liveClock}}</span>
  </div>
  <div class="account" (click)="showAccountOptions()">
    <div class="drop-down">
      <button class="account-button" (click)="showAccountOptions()">Account</button>
      <div *ngIf="isAccountOptionsShown()" class="drop-down-menu">
        <div *ngFor="let opt of getAccountOptions()" class="drop-down-item" (click)="opt.action()" [ngClass]="{'option-logout': opt.name === 'Log Out'}">
            <span>{{opt.name}}</span>
        </div>
      </div>
    </div>
  </div>
</nav>