<div class="support-container">
    <div class="support-main">
        <h1 class="support-main-title">Need Assistance?</h1>
        <div class="support-search">
            <input
            type="text"
            class="support-search-input"
            [(ngModel)]="supportQuery"
            (keydown.enter)="onSupportSearch()"
            placeholder="Search our Q&As..."
            />
            <div class="support-search-button">
                <button class="fa-button-style search-button">Search</button>
            </div>
        </div>
    </div>
    <div class="support-faq">
        <h4 class="support-faq-title">Frequently asked questions</h4>
        <div class="support-faq-list">
            <div *ngFor="let faq of getFaqlist()" class="support-faq-card">
                <span>{{faq.question}}</span>
                <div class="support-faq-link">
                    <div class="support-faq-link-text">
                        <span>See instructions</span>
                    </div>
                    <div class="support-faq-link-icon">
                        <mat-icon svgIcon="arrowRightAlt" class="support-faq-link-arrow"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>