.title {
  text-align: center;
}
.main-content {
  background-color: var(--background-color); /* Apply your background color here */
  padding: 20px; /* Optional: Add some padding to the main content area */
}
