
.page-title {
    font-family: 'Poppins-Bold';
    text-align: center;
    font-size: 36px; /* Adjust the font size as needed */
    margin-top: 40px; /* Add some margin at the top */
    margin-bottom: 20px; /* Add margin at the bottom to create space */
}