
// styles.scss
@import './theme';
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.login-container{
    width: 800px !important;
    margin-top: 15%;
}
/* styles.scss */
html {
    background-color: #FFFFF7; /* Set default background color for the entire page */
    margin: 0;
    padding: 0;
  }
  
@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/Poppins_font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/Poppins_font/Poppins-Light.ttf');
}