
// styles.scss
// @import './theme';  TODO: Moved theme content to this file; delete theme.scss later
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.login-container{
    width: 800px !important;
    margin-top: 15%;
}
/* styles.scss */
html {
    background-color: #FFFFF7; /* Set default background color for the entire page */
    margin: 0;
    padding: 0;
  }
  
@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/Poppins_font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/Poppins_font/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/Poppins_font/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./assets/Poppins_font/Poppins-SemiBold.ttf');
}

:root {
    --primary-color: #20303F;
    --secondary-color: #2E455B;
    --text-color: #FFFFFF;
    --button-background: #FFFFFF;
    --button-color: #20303F;
    --hypertext-color: #0A75D9;
    --primary-color-05: #F1F5F8;
    --primary-color-10: #E3EAF1;
}

.fa-button-style {
    background-color: var(--primary-color);
    font-size: 1.5em;
    color: white;
    padding: 1em 3em;
    border-radius: 4px;
    border: none;
    margin: 4px 0px 4px 0px;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  }
  
  .fa-button-style:hover {
    filter: drop-shadow(0 0 #0000);
    margin: 5px 0px 3px 0px;
  }