
// styles.scss
// @import './theme';  TODO: Moved theme content to this file; delete theme.scss later
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.login-container{
    width: 800px !important;
    margin-top: 15%;
}
/* styles.scss */
html {
    background-color: #FFFFF7; /* Set default background color for the entire page */
    margin: 0;
    padding: 0;
  }
  
@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/Poppins_font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/Poppins_font/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/Poppins_font/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./assets/Poppins_font/Poppins-SemiBold.ttf');
}

:root {
    --primary-color: #20303F;
    --secondary-color: #2E455B;
    --text-color: #FFFFFF;
    --button-background: #FFFFFF;
    --button-color: #20303F;
    --hypertext-color: #0A75D9;
    --primary-color-05: #F1F5F8;
    --primary-color-10: #E3EAF1;
}