.navbar {
    background-color: #FFFFFF; /* Set default background color to white */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: 'Poppins-Medium';
  
  }
  
  .navbar .brand a {
    text-decoration: none; /* Removes underline */
    color: black; /* Changes color to black */
  }
  
  .brand {
    font-size: 48px;
    font-weight: bold;
    color: var(--primary-color);
  }