<div class="analysis-container">
    <div class="analysis-main">
        <article class="analysis-main-article">
            <div class="analysis-main-text">
                <h3 class="analysis-main-title">Simple, yet comprehensive.</h3>
                <p class="analysis-main-subtext">We ensure even the first-timers to make their best decisions.</p>
            </div>
            <button class="fa-button-style analysis-main-button" (click)="navigateToSignIn()">Start Market Analysis</button>
        </article>
        <div class="analysis-main-image">
            <app-image-skeleton [width]="500" [height]="350"></app-image-skeleton>
        </div>
    </div>
    <app-footer></app-footer>
</div>